body{
    background-color: black;
    background-image: url(Enigma1.png);
    background-size: cover;
    background-repeat: no-repeat;}

h1{font-family: monospace;font-size: 48px;color: #fff;}
h2{font-family: 'Arial Black';color: #fff;}
h3{font-family: monospace;color:#fff;font-size: 24px;}
h5{color: #fff}
p{font-family: 'Arial';color: #fff;font-size: 18px;}
li{font-family: 'Arial';color: #fff;font-size: 18px;}


/*ссылки на Discord и лаунчер    #######################################################*/
.sites{
    display: flex;
    margin: 0px 0px;
    height: 60px;
    color: #fff;
    background-color: rgba(48, 48, 64, 0.5);}

.sites .copyright{
    align-self: center;
    margin: 0 auto;}
/*#######################################################################################*/



/*Краткая история сервера и ссылки на др.страницы    ####################################*/
.owner{margin: auto;}

.owner .main{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    float: left;
    height: 20%;
    width: 77%;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(35, 36, 79, 0.6);
    background-color: rgba(20, 20, 26, 0.7);
}

.owner .main .history{
    display: block;
    margin: 10px 10px;
    max-height: 500px;
    max-width: 100%;
    overflow-x: scroll;
}

.owner .other{
    text-align: center;
    display: flex;
    float: left;
    margin-top: 20px;
    margin-left: 0;
    height: 25%;
    width: 15%;
    font-family: monospace;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(35, 36, 79, 0.6);
    border-left: hidden;
    background-color: rgba(20, 20, 26, 0.7);
}

.owner .other .but{
    display: inline-block;
    margin: 7%;
}
/*#######################################################################################*/



/*Кнопки    #############################################################################*/
.clan{
    min-width: 60px;
    max-width: 160px;
    height: 16px;
    padding: 8px;
    display: flex;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #fff;
}
.clan:hover{color: #802f2f;border: 4px solid #802f2f;font-size: 17px;transition: all 0.26s ease;}

.town{
    min-width: 60px;
    max-width: 160px;
    height: 16px;
    padding: 8px;
    display: flex;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #fff;
}
.town:hover{color: #476e42;border: 4px solid #476e42;font-size: 17px;transition: all 0.26s ease;}

.update{
    min-width: 60px;
    width: 160px;
    height: 16px;
    padding: 8px;
    display: flex;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #fff;
}
.update:hover{color:#5d7c91;border:4px solid #354251;font-size: 17px;transition: all 0.26s ease;}
/*#######################################################################################*/